/*.unityproj
/*.sln
/*.userprefs
/*.csproj
/*.pidb
/Library
/Temp
/Assets/Plugins/Android
/Assets/Plugins/SocialNetworkingAndroid*
/Assets/Plugins/SocialNetworkingCommon*
/Assets/Plugins/SocialNetworkingIOS*
/Assets/Plugins/*.dll*
/Assets/Editor/
/Assets/Prefabs/NewPrefabs/BUILDING TYPES/EnergyStorage/Keyboard.meta